.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, rgb(246, 244, 240) 60%, rgba(247, 241, 211, 0.71) 100%);
    min-height: 100vh;
    padding-top: 70px;

}
h1{
    color: #27445D;
    font-weight: bold;
}
.community-container {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    height: 250px;
    width: 220px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
;
}
.community-container:hover {
    transform: scale(1.03); /* Slight grow on hover */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35); /* Slightly deeper shadow */
}
