/* Driver.css */
.body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    background: linear-gradient(to top, rgb(246, 244, 240) 60%, rgba(247, 241, 211, 0.71) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 1rem;
}

.driver-form-wrapper {
    padding: 1rem;
    margin-top: 80px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    min-width: 300px;
    display: flex; /* Make wrapper a flex container */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally within the wrapper */
    width: 965px;
}

.driver-form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    border-radius: 20px;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    height: auto;
}

.driver-column {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.driver-label {
    color: black;
}

.driver-input,
.driver-select {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
}

.driver-input {
    background-color: transparent;
    color: black;
}

.driver-input::placeholder {
    color: black;
    opacity: 1;
}

/* Align file input text better */
.driver-input[type="file"] {
    padding: 8px;
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    border-radius: 8px;
}

.driver-select {
    color: black;
}

.driver-submit {
    color: white;
    height: 40px; /* Adjust height as needed */
    width: 300px;
    border-radius: 8px;
    border-color: transparent;
    background-color: #497D74;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 0.1rem; /* Add some space above the button */
}

